.sidebar {
    width: 220px;
    height: 1102px;
    background-color: whitesmoke;
    padding: 32px 12px, 10px, 12px;
    position: fixed;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
  }
  ul {
    list-style-type: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  li {
    padding: 10px;
    cursor: pointer;
    color: gray;
    margin-top: 20px;
    font-size: 1.3rem;
    top: 16px;
    left: 16px;
    gap: 12px;
  }
  
  li:hover {
    background-color: lightblue;
    border-radius: 10px;
    padding: 11px;
  }
  .icon {
    padding-right: 14px;
    margin-bottom: -5px;
    width: 30px;
    height: 26px;
   
    
  }

  
  